@model SportsStore2.WebUI.Models.LogOnViewModel

@{
    ViewBag.Title = "LogOn";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>LogOn</h2>
@Html.ValidationSummary()
@using (Html.BeginForm()) {
    @*@Html.TextBox("Username")<br />
    @Html.Password("Password")<br />*@
    @Html.EditorForModel();

    <input type="submit" value="Log On" />
}