@model IEnumerable<SportsStore2.Domain.Entities.Product>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<div class="item">
    @foreach (var item in Model) {
        <h2>@item.Name</h2>
        <h3>@item.Description</h3>
        <h3>@item.Price.ToString("c")</h3>
    }
</div>