@model SportsStore2.WebUI.Models.ListViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
@foreach (var item in Model.Products) {
    Html.RenderPartial("ProductSummary", item);
}
<div class="pager">
    @Html.PageLinks(Model.PagingInfo, (x => Url.Action("List", "Product", new { category = Model.SelectedCategory, page = x })))
</div>